@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  list-style: none;
}
/* ----header/nav---- */
.l-header {
  height: 12vh;
  width: 100%;
  position: fixed;
  background-color: #3498db;
  top: 0;
  padding: 25px 3.5rem 0px 4rem;
  left: 0;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* UL list */
.nav__menus {
  /* margin-left: 20rem; */
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.nav-item .nav-links {
  font-size: 1.4rem;
  color: #fff;
}

/* ----Logo--- */
.logo-name {
  font-size: 2.3rem;
  color: #fff;
  font-weight: 700;
}
.dropbtn {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* Media Querry */
@media screen and (min-width: 767px) {
  .nav__menu {
    display: none;
  }
}
