@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  list-style: none;
}
/* ----header/nav---- */
.l-header {
  height: 12vh;
  width: 100%;
  position: fixed;
  background-color: #3498db;
  top: 0;
  padding: 25px 3.5rem 0px 4rem;
  left: 0;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* UL list */
.nav__menus {
  /* margin-left: 20rem; */
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.nav-item .nav-links {
  font-size: 1.4rem;
  color: #fff;
}

.nav-list .nav-item .nav-links::after {
  width: 0%;
  content: "";
  height: 2px;
  display: block;
  background-color: #fff;
}
/* .nav-list .nav-item .nav-links::before {
  width: 100%;
  content: "";
  height: 2px;
  display: block;
  background-color: #fff;
  
} */

.nav-list .nav-item .nav-links:hover {
  font-size: 1.7rem;
}
.nav-list .nav-item .nav-links:hover::after {
  /* transform: scaleX(1); */
  width: 100%;
  content: "";
  height: 2.1px;
  display: block;
  background-color: #fff;
  transition: 0.5s ease;
}

/* ----Logo--- */
.logo-name {
  font-size: 2.3rem;
  color: #fff;
  font-weight: 700;
}
.dropbtn {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
}

.dropbtn:hover {
  font-size: 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  padding: 20px 0 0 25px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 500px;
  height: 120px;
  top: 120%;
  right: -50%;
  overflow: auto;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.profile {
  font-size: 22px;
  color: #fff;
  font-weight: 700;
}
.log__out {
  color: #fff;
  background-color: #3498db;
  height: 30px;
  position: relative;
  top: 40%;
  left: 35%;

  font-size: 18px;
  font-weight: 600;
  width: 120px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  /* display: block; */
}

.log__out:hover {
  background-color: #fff;
  color: #3498db;
  transition: 0.5 ease;
}

.show {
  display: block;
}

/*Change color header*/
.scroll-header {
  /* background-color: #fff; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #2980b9;
}

/* Media Querry */
@media screen and (min-width: 767px) {
  .nav__menu {
    display: none;
  }
}
