/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

html {
  overflow: hidden;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: linear-gradient(
      85deg,
      rgba(64, 112, 244, 0.9075775573901436) 7%,
      rgba(64, 112, 244, 0.8739641120119923) 14%,
      rgba(64, 112, 244, 0.8151405826002276) 57%,
      rgba(64, 112, 244, 0) 100%
    ),
    url(./Assets/login_image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.form {
  max-width: 700px;
  width: 100%;
  padding: 0 15px;
}

.form a {
  text-decoration: none;
  color: #fff;
}

.form p {
  font-size: 1.3rem;
  color: #d1cece;
  font-weight: 600;
}
.register {
  line-height: 2.5rem;
}

.create-form {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
}

.bxs-circle {
  color: #fff;
  font-size: 1rem;
}

.logo-shelf h1 {
  position: absolute;
  text-transform: uppercase;
  top: 0;
  left: -2%;
  padding: 60px 30px 30px 30px;
  color: white;
  font-size: 3rem;
  font-weight: 700;
}

.welcome-form-text {
  font-size: 1.3rem;
  color: #d1cece;
  font-weight: 600;
}

/* Form */
form {
  margin-top: 1.3rem;
}

.form .field {
  height: 45px;
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.input-div-space {
  display: flex;
}

.input-gap {
  margin-left: 0.7rem;
}

.field .inputme {
  height: 100%;
  width: 50%;
  border: none;
  border: 2px solid #cacaca;
  outline: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  padding: 0 15px;
  color: black;
  background-color: #fff;
}
.field .input,
.password {
  height: 100%;
  width: 100%;
  outline: none;
  border: 2px solid #cacaca;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  padding: 0 15px;
  color: black;
  background-color: #fff;
}
.field button {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 600;
  background-color: #fff;
  color: #4070f4;
  transition: all 0.3s ease;
  cursor: pointer;
}

.field input:focus {
  border-color: gold;
}

.field button:hover {
  background-color: #bcbcbc; /*4070f4 */
  color: #fff;
}
.check span {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.none {
  display: none;
}

.eye-icon {
  font-size: 18px;
  color: #4070f4;
  cursor: pointer;
  position: absolute;
  right: 3%;
  top: 30%;
  /* transform: translateY(-50%); */
}

.check {
  padding: 10px 0 0 10px;
}
.checkbox {
  cursor: pointer;
}

.detail-profile {
  font-size: 18px;
  color: #4070f4;
  position: absolute;
  right: 3%;
  top: 30%;
}

.detail-card {
  color: #4070f4;
  position: absolute;
  right: 55.5%;
  top: 30%;
  font-size: 18px;
}

.detail-card-1 {
  color: #4070f4;
  position: absolute;
  right: 3%;
  top: 30%;
  font-size: 18px;
}

.form-link {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 1rem;
  padding-left: 0.8rem;
}

/* Media querries */
@media screen and (max-width: 321px) {
  .container .logo-shelf h1 {
    font-size: 2.1rem;
    padding-left: 20px;
  }
}
@media screen and (max-width: 767px) {
  .detail-card {
    right: 57%;
    font-size: 18px;
  }

  .field .input,
  .field .inputme,
  .field .password {
    font-size: 13px;
    font-weight: 600;
  }

  .form p {
    font-size: 1.2rem;
  }

  .create-form {
    font-size: 26px;
  }

  .logo-shelf h1 {
    font-size: 2.5rem;
  }

  .welcome-form-text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 426px) {
  .detail-card {
    right: 58.5%;
    font-size: 18px;
  }
}

@media screen and (min-width: 767px) {
  .form {
    padding: 30px;
    margin-left: 2rem;
    margin-top: 40px;
  }

  form {
    margin-top: 4rem;
  }

  .logo-shelf h1 {
    top: 10%;
    padding: 0 60px;
    left: -0.1%;
  }
  .detail-card {
    right: 54%;
  }
}
@media screen and (min-width: 992px) {
  .form {
    margin-left: 6rem;
    margin-top: 40px;
  }

  form {
    margin-top: 4rem;
  }

  .logo-shelf h1 {
    top: 10%;
    padding: 0 60px;
    left: 4%;
  }
}

/* Index Page Style/First Page */
.header-index {
  display: flex;
  justify-content: space-between;
  padding: 0rem 5rem 0 9rem;
  align-items: center;
  width: 100%;
  height: 15%;
  position: relative;
  background-color: #4070f4;
  cursor: pointer;
}

.header-index h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}
.header-index h3 {
  font-size: 1rem;
  font-weight: 600;
  padding-left: 8rem;
  color: #fff;
}
/* -----------Carousel Beginning------ */

.index_container {
  background-image: /*linear-gradient(
      85deg,
      rgba(64, 112, 244, 0.9075775573901436) 7%,
      rgba(64, 112, 244, 0.8739641120119923) 14%,
      rgba(64, 112, 244, 0.8151405826002276) 57%,
      rgba(64, 112, 244, 0) 100%
    ),*/ url(./Assets/dream\ home.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  width: 100%;
  animation: bgChange 20s alternate-reverse infinite;
}

.index_container .bx {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 0.6rem;
  cursor: pointer;
  color: #fff;
}

/* -------Keyframes------- */
@keyframes bgChange {
  0% {
    background-image: url(./Assets/dream\ home.webp);
  }
  20% {
    background-image: url(./Assets/todd-kent-178j8tJrNlc-unsplash.jpg);
  }
  25% {
    background-image: url(./Assets/florian-schmidinger-b_79nOqf95I-unsplash.jpg);
  }
  45% {
    background-image: url(./Assets/bernard-hermant-KqOLr8OiQLU-unsplash.jpg);
  }
  50% {
    background-image: url(./Assets/fomstock-4ojhpgKpS68-unsplash.jpg);
  }
  70% {
    background-image: url(./Assets/webaliser-_TPTXZd9mOo-unsplash.jpg);
  }
  75% {
    background-image: url(./Assets/istockphoto-1177123315-612x612-transformed.jpeg);
  }
  95% {
    background-image: url(./Assets/evelyn-paris-XJnP4L958ds-unsplash.jpg);
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
}

/* -----Carousel image end ------ */

/* --------Swiping Text---- */
/* (A) FORCE SLIDES INTO SINGLE ROW */
/* (C2) MOVE SLIDES */

.move {
  display: flex;
  animation: slideh linear 8s infinite;
  position: relative;
}

.move h1 {
  font-size: 3.5rem;
  color: #fff;
  font-weight: 700;
}
.move h2 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
}

.move:hover {
  animation-play-state: paused;
}

.moving {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* (B) OUTER WRAPPER HIDE SCROLLBAR */
.movewrap {
  overflow: hidden;
  position: relative;
  top: 22%;
}

/* (C) SHIFT SLIDES WITH CSS ANIMATION */
/* (C1) SLIDES POSITION */

@keyframes slideh {
  0% {
    right: 0;
  }
  30% {
    right: 0;
  }
  33% {
    right: 100%;
  }
  63% {
    right: 100%;
  }
  66% {
    right: 200%;
  }
  97% {
    right: 200%;
  }
  0% {
    right: 0;
  }
}

/* Button */
.buttonwrap {
  position: absolute;
  bottom: 38%;
  left: 27%;
}

.buttonwrap button {
  height: 55px;
  /* position: fixed; */
  width: 150px;
  font-size: 25px;
  font-weight: 500;
  border-radius: 8px;
  border: none;
  margin-left: 4rem;
  background-color: #fff;
  color: #4070f4;
  cursor: pointer;
}

.buttonwrap button:hover {
  background-color: #4070f4;
  color: #bcbcbc;
  transition: 0.3s ease-in-out;
}

/* Footer */
footer {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1.5rem 1.5rem 0 0;
  height: 12%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5rem;
  position: relative;
  margin: auto;
  bottom: 0%;
  position: fixed;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: white;
  cursor: pointer;
}

.copyright {
  text-align: center;
  color: #bcbcbc;
}

/* -------Media query ---- */
@media screen and (min-width: 1435px) {
  footer {
    /* top: 65.9%; */
    line-height: 4rem;
  }

  .buttonwrap {
    left: 22.5%;
  }

  .buttonwrap a button {
    height: 90px;
    width: 300px;
    font-size: 40px;
  }

  footer .footer h3,
  h1 {
    font-size: 35px;
  }
  footer .footer h1,
  h1 {
    font-size: 35px;
  }

  footer .copyright {
    font-size: 20px;
  }

  .movewrap .move .moving h1 {
    font-size: 4.5rem;
  }
  .movewrap .move .moving h2 {
    font-size: 2rem;
  }

  .index_container .header-index h1 {
    font-size: 5rem;
  }
  .index_container .header-index h3 {
    font-size: 2rem;
    font-weight: 500;
    padding-left: 10rem;
  }

  .index_container .bx {
    font-size: 2.8rem;
    font-weight: 700;
  }
}

@media screen and (min-width: 767px) {
  footer {
    /* top: 59.6%; */
  }

  .header-index {
    padding: 0.5rem 3rem 0 5rem;
  }

  .buttonwrap {
    left: 18.5%;
  }

  .buttonwrap button {
    height: 50px;
    width: 140px;
    font-size: 30px;
  }

  .footer h3,
  h1 {
    font-size: 20px;
  }

  .copyright {
    font-size: 13px;
  }

  .move h1 {
    font-size: 2.5rem;
  }
  .move h2 {
    font-size: 1.1rem;
  }

  .header-index h1 {
    font-size: 2.7rem;
  }
  .header-index h3 {
    font-size: 1rem;
    font-weight: 500;
    padding-left: 6.4rem;
  }

  .index_container .bx {
    font-size: 1.7rem;
    font-weight: 700;
  }
}
@media screen and (max-width: 321px) {
  .buttonwrap {
    /* right: 0%; */
    display: flex;
    margin-left: -2rem;
  }

  .movewrap {
    line-height: 1.5rem;
  }
  .movewrap .move .moving h1 {
    font-size: 1.3rem;
    font-weight: 700;
  }
  .movewrap .move .moving h2 {
    font-size: 1rem;
    font-weight: 400;
  }

  .header-index h1 {
    font-size: 2rem;
  }

  .header-index h3 {
    font-size: 0.8rem;
    font-weight: 500;
    padding-left: 0.4rem;
  }
}
@media screen and (max-width: 766px) {
  footer {
    /* top: 52.6%; */
  }

  .header-index {
    padding: 0.5rem 3rem 0 3rem;
  }

  .buttonwrap {
    left: 2.5%;
  }

  .buttonwrap button {
    height: 40px;
    width: 100px;
    font-size: 18px;
  }

  .footer h3,
  h1 {
    font-size: 15px;
  }

  .copyright {
    font-size: 10px;
  }

  .move h1 {
    font-size: 2.2rem;
  }
  .move h2 {
    font-size: 1.1rem;
    font-weight: 500;
  }

  .header-index h1 {
    font-size: 2rem;
  }

  .header-index h3 {
    font-size: 0.8rem;
    font-weight: 500;
    padding-left: 0.4rem;
  }

  .index_container .bx {
    font-size: 1.7rem;
    font-weight: 700;
  }
}

@media screen and (min-width: 1020px) {
  footer {
    /* top: 58.6%; */
  }

  .header-index h1 {
    font-size: 3.5rem;
  }
  .index_container .header-index h3 {
    font-size: 1.3rem;
    font-weight: 500;
    padding-left: 7.9rem;
  }
  .buttonwrap {
    left: 23%;
  }

  .buttonwrap a button {
    height: 60px;
    width: 180px;
    font-size: 30px;
  }

  footer .footer h3,
  h1 {
    font-size: 26px;
  }
  footer .footer h1,
  h1 {
    font-size: 26px;
  }

  footer .copyright {
    font-size: 15px;
  }

  .movewrap .move .moving h1 {
    font-size: 3.5rem;
  }
  .movewrap .move .moving h2 {
    font-size: 1.6rem;
  }
}

/* --------Swiping Text end---- */

/* -----Logo---- */
/* .logo-index h1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

.logo-index p {
  font-size: 1.1rem;
  color: #bcbcbc;
  padding-left: 3.4rem;
  transform: translateX(30%);
  font-weight: 600;
  font-style: italic;
} */

/* swiper css */
/* .slideshow-container {
  max-width: 500px;
  width: 40%;
  position: relative;
  margin: 4rem 0 0 9rem;
  margin: auto;
}

.slideshow-container .showroom {
  width: 100%;
  height: 100%;
  border-radius: 1px;
  cursor: pointer;
}

.slideshow-container .mySlides {
  border: 4px solid #fff;
  height: 400px;
  background: rgb(0, 0, 0); Fallback color
  background: rgba(0, 0, 0, 0.5); Black background with 0.5 opacity
}

.info {
  position: absolute;
  bottom: 6.6%;
  right: 0;
  background: rgb(0, 0, 0); Fallback color
  background: rgba(0, 0, 0, 0.5); Black background with 0.5 opacity
  color: #f1f1f1;
  width: 100%;
  text-align: center;
  height: 25%;
  padding: 20px;
} */

/* The dots/bullets/indicators */
/* .dotwrap {
  margin: 1rem 0 0 0;
  display: flex;
  justify-content: center;
}
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-flex;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
} */

/* Fading animation */
/* .fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  transition: 3.5s ease-in;

  transform: scaleX(1);
} */

/* Position the "next button" to the right */
/* .next {
  right: 0;
  border-radius: 3px 0 0 3px;
} */

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover,
.next:hover {
  background: rgb(188, 188, 188);
  background: linear-gradient(
    90deg,
    rgba(188, 188, 188, 0.8722927403383228) 0%,
    rgba(188, 188, 188, 0.5725728523831408) 50%,
    rgba(217, 217, 217, 0.5501638887977065) 100%
  );
  transform: scaleX(0);
} */

.mySlides {
  /* display: none; */
}
.showroom {
  /* vertical-align: middle; */
}
